{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS</title>
    <link rel="stylesheet" href="{% static 'App1.css' %}">
</head>
<body>
    
    <div class="nav">
        <a href="{% url 'addbook' %}">Add Book</a>
        <a href="{% url 'readbook' %}">View book</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'list' %}">Issued Books List</a>
    </div>
</body>
</html>