{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Book -- LMS</title>
    <link rel="stylesheet" href="{% static 'App1.css' %}">
</head>
<body>
    <h2 id="readh2">Books in Library</h2>
    {% block content %}
    <div class="table-container">
    
    <table>
        <tr>
            <th>Book Name</th>
            <th>ISBN</th>
            <th>Quantity</th>
            <th>Author</th>
        </tr>

        {% for item in a %}
        <tr>
            <td>{{item.book_name}}</td>
            <td>{{item.ISBN}}</td>
            <td>{{item.Quantity}}</td>
            <td>{{item.Author}}</td> 
            <td><a href="{% url 'issuebook' item.id %}">Issue</a></td>
            <td><a href="{% url 'delete' item.id %}">Delete</a></td>
            
            <br>
        </tr>
        {% endfor %} 
        
    </table>
    {% endblock content %}
    
    </div>
    <a href="{% url 'home' %}" class="back">Back</a>
</body>
</html>